*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 6rem;
  background-color: #1C1C1C;
  position: relative;
  min-height: 300vh; }

a {
  text-decoration: none; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #fff; }

.u--addon {
  font-weight: normal;
  transition: all 0.5s; }

.u-textshadow {
  text-shadow: 5px 5px 0px black; }

.u-buttonshadow {
  transition: all 0.1s; }
  .u-buttonshadow:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 0px 0px #000000b7;
    filter: brightness(110%); }
  .u-buttonshadow:active, .u-buttonshadow:focus {
    transform: translateY(-3px);
    box-shadow: 0px 3px 0px 0px #000000b7; }

.btn {
  color: white;
  font-size: 3.2rem;
  padding: 1rem 3rem;
  line-height: 100%;
  text-align: center; }
  .btn--about {
    background-color: #242424;
    border-radius: 0.8rem; }
  .btn--courses {
    background-color: #6d9aee;
    border-radius: 0.8rem; }
  .btn--contact {
    background-color: #598EF3;
    padding: 1.6rem 4.8rem;
    border-radius: 0.8rem; }
  .btn--more {
    font-size: 2.4rem;
    background-color: #598EF3; }

.course-card {
  background-color: #242424;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.4rem;
  box-shadow: -12px -12px 0px 0px rgba(0, 0, 0, 0.4); }
  .course-card--skill-level {
    text-align: center;
    color: #D0D0D0;
    font-size: 1.4rem;
    font-style: italic; }
  .course-card--course-name {
    font-size: 3.2rem;
    text-align: center;
    font-weight: 900;
    line-height: 100%; }
  .course-card__info-box {
    display: flex;
    margin-block: 1.6rem;
    justify-content: space-between; }
  .course-card__info {
    display: flex;
    justify-content: center;
    gap: 0.4rem;
    font-size: 1.6rem; }
    .course-card__info--icon {
      max-width: 1em; }
  .course-card--list-title {
    font-size: 2.4rem;
    font-weight: 900;
    line-height: 100%;
    margin-bottom: 0.8rem; }
  .course-card__list {
    padding-left: 1.6rem;
    margin-bottom: 1.2rem; }
    .course-card__list--item {
      color: #D0D0D0;
      font-size: 1.6rem; }
  .course-card__price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: 900;
    line-height: 1; }
    .course-card__price--old {
      font-size: 1.6rem;
      text-decoration: line-through;
      color: #D0D0D0; }
    .course-card__price--new {
      font-size: 3.6rem; }
  .course-card__instalment {
    font-size: 1.4rem;
    color: #D0D0D0;
    text-align: center;
    margin-bottom: 1.6rem; }

.payments-card {
  max-width: 400px;
  display: flex;
  flex-direction: column; }
  .payments-card--image {
    width: 50%;
    align-self: center; }
  .payments-card--heading {
    font-size: 2.4rem;
    align-self: center;
    line-height: 300%; }
  .payments-card--description {
    font-size: 1.8rem;
    line-height: 170%;
    color: #D0D0D0; }

.about-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, min(100%, max(400px, 100%/2))));
  row-gap: 3.6rem; }
  .about-grid__content {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .about-grid__content--heading {
      color: #598EF3;
      font-size: 8.2rem;
      line-height: 1;
      margin-bottom: 1.6rem; }
    .about-grid__content--text {
      color: grey;
      font-size: 2.4rem; }
  .about-grid__img img {
    max-height: 100%; }

.header {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem; }
  .header__content {
    display: flex;
    justify-content: space-between;
    gap: 4.8rem; }
  .header__link-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .header__link-list {
    display: flex;
    flex-direction: column;
    gap: 2rem; }
  .header__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    gap: 5rem; }
  .header__title {
    line-height: 1;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 1rem; }
    .header__title * {
      display: block; }
    .header__title--big {
      font-size: 4.8rem; }
    .header__title--small {
      font-size: 3.2rem; }
  .header__description {
    font-size: 2.4rem;
    line-height: 140%;
    max-width: 600px;
    color: #D0D0D0; }
  .header__link {
    transition: all 0.3s; }
    .header__link--heading {
      color: #598EF3;
      font-size: 10rem;
      line-height: 67%; }
  .header__cta-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem; }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1.6rem;
  padding: 1rem 3rem;
  backdrop-filter: blur(5px); }
  .nav__logo {
    display: flex;
    align-items: center;
    width: 100%; }
    .nav__logo--image {
      max-width: 75px; }
  .nav__ul {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2.4rem; }
    .nav__ul--item {
      color: #fff;
      font-size: 1.6rem; }
  .nav__cta {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2.4rem; }
    .nav__cta--item {
      color: #fff;
      font-size: 1.6rem; }
    .nav__cta--references {
      font-style: italic; }

.section-about {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem; }
  .section-about__heading {
    font-size: 6.4rem;
    margin-bottom: 4.8rem; }

.section-courses__content {
  display: flex; }

.section-courses__desc {
  max-width: 700px; }
  .section-courses__desc--heading {
    font-size: 6.4rem;
    line-height: 100%;
    margin-bottom: 1.6rem; }
  .section-courses__desc--text {
    font-size: 2.4rem; }

.section-courses__image img {
  max-width: 100%; }

.section-courses__card-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.2rem; }

.section-payments__heading {
  font-size: 4.8rem; }

.section-payments__card-box {
  display: flex;
  justify-content: space-around; }
