*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 6rem;
  background-color: #1C1C1C;
  position: relative;
  min-height: 300vh; }

a {
  text-decoration: none; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #fff; }

.u--addon {
  font-weight: normal;
  transition: all 0.5s; }

.u-textshadow {
  text-shadow: 5px 5px 0px black; }

.u-buttonshadow {
  transition: all 0.1s; }
  .u-buttonshadow:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 0px 0px #000000b7;
    filter: brightness(110%); }
  .u-buttonshadow:active, .u-buttonshadow:focus {
    transform: translateY(-3px);
    box-shadow: 0px 3px 0px 0px #000000b7; }

.btn {
  color: white;
  font-size: 3.2rem;
  padding: 1rem 3rem;
  line-height: 100%;
  text-align: center; }
  .btn--about {
    background-color: #242424;
    border-radius: 0.8rem; }
  .btn--courses {
    background-color: #6d9aee;
    border-radius: 0.8rem; }

.about-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, min(100%, max(400px, 100%/2))));
  row-gap: 3.6rem; }
  .about-grid__content {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .about-grid__content--heading {
      color: #598EF3;
      font-size: 8.2rem;
      line-height: 1;
      margin-bottom: 1.6rem; }
    .about-grid__content--text {
      color: grey;
      font-size: 2.4rem; }
  .about-grid__img img {
    max-height: 100%; }

@media (max-width: 1040px) {
  html {
    font-size: 30%; }
  .about-grid {
    grid-template-columns: repeat(auto-fit, minmax(0, min(100%, max(800px , 100%/2)))); }
    .about-grid__img {
      display: none; } }

.header {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem; }
  .header__content {
    display: flex;
    align-items: flex-start;
    gap: 2.4rem;
    margin-bottom: 4.8rem; }
  .header__title {
    line-height: 1;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 1rem; }
    .header__title * {
      display: block; }
    .header__title--big {
      font-size: 6.4rem; }
    .header__title--small {
      font-size: 4.8rem; }
  .header__description {
    font-size: 2.4rem;
    line-height: 140%;
    max-width: 600px;
    color: #D0D0D0; }
  .header__card-box {
    display: flex;
    flex-direction: column;
    gap: 0.8rem; }
  .header__card {
    border-radius: 1.6rem;
    position: relative; }
    .header__card--heading {
      color: #598EF3;
      font-size: 4.8rem;
      text-transform: uppercase;
      transition: all 0.5s;
      line-height: 1; }
    .header__card__list {
      list-style: none;
      opacity: 0.2;
      transition: all 0.3s; }
      .header__card__list--item {
        color: #D0D0D0;
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: flex;
        gap: 0.8rem; }
      .header__card__list--icon {
        max-width: 2rem; }
    .header__card:hover .header__card__list {
      opacity: 0.8; }
    .header__card:hover .header__card--heading {
      scale: 1.05;
      transform: translateX(10px); }
    .header__card:hover .header__card--icon {
      opacity: 0.8; }
  .header__cta-box {
    display: flex;
    align-items: flex-start;
    gap: 1.6rem; }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1.6rem;
  padding: 1rem 3rem;
  backdrop-filter: blur(5px); }
  .nav__logo {
    display: flex;
    align-items: center; }
    .nav__logo--image {
      max-width: 75px; }
  .nav__ul {
    display: inline-block; }
    .nav__ul :not(:last-child) {
      margin-right: 1rem; }
    .nav__ul--item {
      color: #fff;
      font-size: 1.6rem; }
    .nav__ul--contact {
      background-color: #598EF3;
      padding: 1rem 3rem; }

@media (max-width: 575px) {
  .nav__ul {
    display: none; } }

.section-about {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem; }
  .section-about__heading {
    font-size: 6.4rem;
    margin-bottom: 4.8rem; }

.section-courses__content {
  display: flex; }

.section-courses__desc {
  max-width: 700px; }
  .section-courses__desc--heading {
    font-size: 6.4rem;
    line-height: 100%;
    margin-bottom: 1.6rem; }
  .section-courses__desc--text {
    font-size: 2.4rem; }

.section-courses__image img {
  max-width: 100%; }
