@use "../abstracts/variables" as *;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 4.8rem;
  padding: calc($padding-website-default / 2) $padding-website-default;
  background-color: $color-background-dark;

  &__break-line {
    width: 100%;
    height: 3px;
    background-color: $color-white;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__menu-list {
    list-style: none;

    &--item {
      color: $color-white;
      font-size: 1.6rem;
      transition: color 0.3s;
      &:hover {
        color: $color-primary;
      }
    }
  }

  &__contact {
    list-style: none;
  }

  &__home-link {
    display: flex;
    gap: 0.8rem;
    color: $color-white;
    align-items: center;
    font-size: 1.6rem;
    text-decoration: underline;
    transition: color 0.3s;
    &:hover {
      color: $color-primary;
    }
  }

  &__contact-item {
    display: flex;
    gap: 0.8rem;
    color: $color-white;
    align-items: center;
    font-size: 1.6rem;
  }

  &__social-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    &--item {
      font-size: 3.2rem;
      color: $color-white;
      transition: color 0.3s;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        font-size: 1.6rem;
      }
      &:hover {
        color: $color-primary;
      }
    }
  }

  &__credits {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 640px) {
  .footer {
    &__menu-list {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-block: 2.4rem;
      gap: 2.4rem;
    }

    &__content {
      flex-direction: column;
      gap: 2.4rem;
    }
    &__social-box {
      justify-content: center;
      gap: 2.4rem;
    }

    &__contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.6rem;
    }
  }
}
