//sections
@use "../abstracts" as *;

.about-section {
    @include grid-setup(2.4rem);
    grid-template-columns: repeat(8, 1fr);

    &__title {
        @include title-style();

        grid-column: span 8;
        animation: appear-up 1s backwards 2s;
        text-align: center;
    }

    &__item {
        grid-column: span 8;
        width: 100%;

        &--title {
            color: $color-primary;
            font-size: 3.2rem;
        }

        &--text {
            color: $color-text-grey;
            font-size: 2.4rem;
        }

        &--image {
            display: none;
            img {
                width: 50%;
            }
        }
    }
}

.courses-section {
    @include grid-setup(2.4rem);

    &__title {
        @include title-style();
        grid-column: span 12;
        text-align: center;
    }

    &__text {
        font-size: 2.4rem;
        color: $color-text-grey;
        grid-column: span 12;
    }
}

.payoff-section {
    @include grid-setup(2.4rem);
    row-gap: 4.8rem;

    width: 100%;
    &__title {
        @include title-style();
        text-align: center;
        grid-column: span 12;
    }
}

.numbers-section {
    width: 100%;
    background-color: $color-primary;

    justify-content: center;
    &__title {
        padding-inline: $padding-website-default;
    }
}

.numbers-grid {
    @include grid-setup(2.4rem);
    &__title {
        @include title-style();
        grid-column: span 12;
    }
}

.mentors-section {
    @include grid-setup(2.4rem);
    &__title {
        @include title-style();
        grid-column: span 12;
    }

    &__content {
        display: flex;
        gap: 4.8rem;
    }

    &__text {
        grid-column: span 12;
        grid-row: span 2;
        font-size: 2.4rem;
        color: $color-text-grey;
        line-height: 135%;
    }
}

.contact-section {
    @include grid-setup(2.4rem);

    &__title {
        @include title-style();
        grid-column: span 12;
    }

    &__map-box {
        grid-column: span 12;

        &--map {
            margin-top: 0.5rem;
            border-radius: 2.4rem;
            outline: 0.5rem solid $color-primary;
            width: 100%;
        }
    }
}

.references-section {
    @include grid-setup(2.4rem);
    margin: 10vh auto;
    &__title {
        @include title-style();
        grid-column: span 12;
        text-align: center;
    }

    &__holder {
        display: inline-block;
        overflow: hidden;
        grid-column: span 12;
        white-space: nowrap;
        position: relative;
        &:before,
        &::after {
            position: absolute;
            top: 0;

            height: 100%;
            width: 20rem;
            content: "";

            z-index: 2;
        }

        &::before {
            background: linear-gradient(
                to left,
                rgba(255, 255, 255, 0),
                $color-background
            );
            left: 0;
        }

        &::after {
            background: linear-gradient(
                to right,
                rgba(255, 255, 255, 0),
                $color-background
            );
            right: 0;
        }

        &:hover .references-box {
            animation-play-state: paused;
        }
    }

    &__phone-stopper {
        display: block;
    }
}

.stop {
    .references-box {
        animation-play-state: paused;
    }
}

@media only screen and (min-width: $bp-sm) {
    .about-section {
        &__item {
            grid-column: span 4;

            &--image {
                display: block;
            }
        }
    }
}

@media only screen and (min-width: $bp-md) {
    .contact-section {
        &__map-box {
            grid-column: span 6;
        }
    }

    .references-section {
        &__phone-stopper {
            display: none;
        }
    }
}

@media only screen and (min-width: $bp-lg) {
    .mentors-section {
        &__text {
            grid-column: span 5;
            grid-row: span 2;
            font-size: 2.4rem;
            color: $color-text-grey;
            line-height: 135%;
        }
    }
}
