//sections
@use "abstracts" as *;

.about-section {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $padding-website-default;
  &__title {
    font-size: 6.4rem;
    font-weight: 800;
  }
}

.courses-section {
  padding-inline: $padding-website-default;

  &__title {
    font-size: 4.8rem;
    font-weight: 900;
    margin-top: 6.4rem;
  }

  &__text {
    max-width: 700px;
    font-size: 2.4rem;
    color: $color-text-grey;
    margin-bottom: 6.4rem;
  }
}

.payoff-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4.8rem;
  min-height: 80vh;
  padding-inline: $padding-website-default;

  &__title {
    font-size: 4.8rem;
    font-weight: 900;
    text-align: center;
  }

  &__card-box {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}

.numbers-section {
  display: flex;
  gap: 4.8rem;
  flex-direction: column;
  width: 100%;
  background-color: $color-primary;
  padding-block: 8.2rem;
  justify-content: center;
  &__title {
    font-size: 4.8rem;
    font-weight: 900;
    padding-inline: $padding-website-default;
  }
}

.mentors-section {
  padding: $padding-website-default * 2 $padding-website-default;
  &__title {
    font-size: 4.8rem;
    font-weight: 900;
    margin-bottom: 2.4rem;
  }

  &__content {
    display: flex;
    gap: 4.8rem;
  }

  &__text {
    width: 80%;
    font-size: 2.4rem;
    color: $color-text-grey;
    line-height: 135%;
  }

  &__mentors-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 4.8rem;
    width: 100%;
  }
}
