// //navigation
@use "abstracts/variables" as *;

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 1.6rem;

  &__logo,
  &__links,
  &__contact-box {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1.6rem;
  }

  &__logo {
    &--name {
      font-size: 2.4rem;
      font-weight: 900;
    }
  }

  &__links {
    justify-content: center;

    &--item {
      color: $color-white;
      font-size: 1.6rem;
      font-weight: 700;
    }
  }

  &__contact-box {
    justify-content: flex-end;
    font-size: 1.6rem;

    &--references {
      color: $color-white;
    }
  }
}

@media only screen and (max-width: 640px) {
  .nav {
    &__links {
      display: none;
    }
  }
}
