// //navigation
@use "../abstracts" as *;

.nav {
    @include grid-setup(2.4rem);
    width: 100%;
    max-width: 1600px;
    animation: appear-up 1s forwards 2s;
    animation-fill-mode: backwards;
    backdrop-filter: blur(5px);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translate(50% 50%);

    margin: 0 auto;
    padding: 1.6rem 2.5% 0;

    z-index: 3;

    &__seo {
        display: none;
    }

    &__logo,
    &__links,
    &__contact-box {
        display: flex;
        align-items: center;
        gap: 1.6rem;
    }

    &__logo {
        grid-column: span 11;
        display: flex;
        align-items: center;
        gap: 0.8rem;
        &--name {
            display: none;
            font-size: 2.4rem;
            font-weight: 900;
            color: $color-white;
            z-index: 20;
        }

        &--image {
            width: 8rem;
            z-index: 20;
        }
    }

    &__links {
        display: none;
        justify-content: center;
        grid-column: span 6;

        &--item {
            color: $color-white;
            font-size: 1.6rem;
            font-weight: 700;
            transition: color 0.5s;

            &:hover:not(:last-child) {
                color: $color-primary;
            }
        }
    }

    &__contact-box {
        grid-column: span 3;
        justify-content: flex-end;
        font-size: 1.6rem;
        display: none;
        &--references {
            color: $color-white;
        }
    }

    &__menu-icon {
        display: flex;
        justify-content: flex-end;
        z-index: 20;
        cursor: pointer;
        grid-column: span 1;
    }

    @media only screen and (min-width: $bp-xs) {
        &__logo {
            &--name {
                display: block;
            }
        }
    }

    @media only screen and (min-width: $bp-md) {
        &__links {
            display: flex;
        }

        &__menu-icon {
            display: none;
        }

        &__logo {
            grid-column: span 3;
        }

        &__contact-box {
            display: flex;
        }
    }
}

.navbar-phone {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: $color-background;
    z-index: 2;
    width: 100vw;
    &--item-addon {
        display: none;
    }
    &--item {
        font-size: 3.2rem;
        font-weight: 900;
        width: 75%;
        text-align: center;
        display: block;
    }
}
