@use "../abstracts/variables" as *;

.numbers-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
  padding-inline: $padding-website-default;
}

@media only screen and (max-width: 640px) {
  .numbers-grid {
    grid-template-columns: 50% 50%;
  }
}
