@use "../abstracts" as *;

.article {
    grid-column: span 12;
    border: 0.2rem solid $color-white;
    border-radius: 1.6rem;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    &__title {
        width: 100%;
        font-size: 3.2rem;
        line-height: 110%;
    }

    &__text {
        color: $color-text-grey;
        font-size: 1.6rem;
        margin-bottom: 2.4rem;
    }
}
