@use "../abstracts" as *;

.course {
    background-color: $color-background-light;
    display: flex;
    flex-direction: column;
    padding: 4.8rem 1.6rem 1.6rem;
    box-shadow: -1.2rem -1.2rem 0px 0px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s;
    grid-column: span 12;

    &:hover {
        box-shadow: -1.2rem -1.2rem 0px 0px $color-primary;
    }

    &__level {
        text-align: center;
        color: $color-text-grey;
        font-size: 1.2rem;
        font-style: italic;
    }

    &__name {
        font-size: 3.2rem;
        text-align: center;
        font-weight: 900;
        line-height: 100%;
    }

    &__info-box {
        display: flex;
        gap: 0.8rem;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-block: 2.4rem;
        flex-wrap: wrap;
    }

    &__info-block {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0.2rem solid white;
        gap: 0.8rem;
        padding: 1.6rem;
        border-radius: 3.2rem;
        transition: 0.3s;
        cursor: pointer;
        font-size: 1.2rem;
        color: $color-primary;
        font-weight: 900;
        letter-spacing: 1px;
        &:hover {
            background-color: $color-primary;
            color: $color-white;
        }
    }

    &__list-title {
        font-size: 2.4rem;
        font-weight: 900;
    }

    &__list {
        padding-left: 2.4rem;
        margin-bottom: 1.6rem;

        &--item {
            color: $color-text-grey;
            font-size: 1.6rem;
        }
    }

    &__price-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &--old {
            font-size: 1.6rem;
            text-decoration: line-through;
            color: $color-text-grey;
            font-weight: 700;
            margin-bottom: -0.8rem;
        }

        &--new {
            font-size: 3.6rem;
            font-weight: 900;
        }
    }

    &__instalment {
        font-size: 1.6rem;
        color: $color-text-grey;
        text-align: center;
        margin-block: 0.8rem 1.6rem;
    }

    @media only screen and (min-width: $bp-xs) {
        grid-column: 2 / span 10;
    }

    @media only screen and (min-width: $bp-sm) {
        grid-column: span 6;
    }

    @media only screen and (min-width: $bp-xl) {
        grid-column: span 4;
        &:last-child {
            grid-column: 5 / span 4;
        }
    }
}
