@use "../abstracts" as *;

.form {
    grid-column: span 12;

    &__name-box {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        &--name,
        &--email {
            @include input-style();
        }
    }

    &__placeholder {
        @include input-style();
        margin-top: 0.8rem;
        resize: vertical;
    }

    @media only screen and (min-width: $bp-sm) {
        &__name-box {
            flex-direction: row;
        }
    }

    @media only screen and (min-width: $bp-md) {
        grid-column: span 6;
    }
}
