@use "../abstracts" as *;

.reference {
    display: inline-flex;
    padding: 0 2.4rem;
    flex-direction: column;
    max-width: 40rem;
    position: relative;
    gap: 3.2rem;
    font-size: 2.4rem;

    &__text {
        white-space: wrap;
        color: $color-text-grey;
        line-height: 130%;
    }

    &__name {
        font-weight: 800;
    }

    &__icon {
        position: absolute;
        right: 0;
        top: 0.4rem;
        color: $color-primary;
    }
}
