//global resets etc.

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

main,nav,footer{
    padding-inline: $padding-website-default;
}

body {
    box-sizing: border-box;
    background-color: $color-background;
    position: relative;
    min-height: 300vh;
}

a{
    text-decoration: none;
}
