//variables

$color-background: #1c1c1c;
$color-background-dark: rgba(0, 0, 0, 0.3);
$color-background-light: #242424;

$color-primary: #598ef3;
$color-primary-light: #6d9aee;

$color-text-grey: #d0d0d0;

$color-white: #fff;
$color-black: #000;

$padding-website-default: 5%;
