//variables

$color-background: #1C1C1C;
$color-background-dark: rgba(0, 0, 0, 0.3);
$color-background-light: #242424;

$color-primary: #598EF3;
$color-primary-light: #6d9aee;

$color-text-grey: #D0D0D0;

$color-white: #fff;
$color-black: #000;


$padding-website-default: 6rem;